<h1>New Game</h1>
<p><%= @letters %></p>
<form action="/score" method="post">
  <label for="word">What is the longest word you can find:</label>
  <div>
    <input type="text" name="word" class="input">
    <input type="submit" value="Play" class="play">

  </div>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters  %>
  <%= hidden_field_tag :start_time, @start_time  %>
</form>
